.addData__header {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  justify-content: flex-start;
}

.flex-grow {
  flex-grow: 1; /* スペースを埋めるための要素 */
}

.header__wrapper-close {
  background-color: #e7e7e7;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__wrapper-close:hover {
  background-color: #c4c4c4;
}

.header__wrapper-save-button {
  background-color: rgb(0, 106, 255);
  width:fit-content;
  height: 48px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 16px;
  font-weight: bold;
}

.header__wrapper-save-button input[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
  outline: inherit;
}










.h2_subtitle {
  font-weight: bold;
  font-size: 1.2em;
}

.add-data__wrapper-name-img {
  display: flex;
  justify-content: space-between;
}

.add-data__wrapper-name {
  width: 70%;
}

.add-data__wrapper-img-edit {
  width: calc(30% - 1em);
  border-radius: 5px;
	border: solid rgb(0, 95, 229) 2px;
  margin-bottom: 1em;
  height: 101px;
  cursor: pointer;
  position: relative;
}

.add-data__input {
  width: calc(100% - 3em);
	padding: 1em 1.5em;
	border-radius: 5px;
	border: solid rgb(0, 95, 229) 2px;
}

.add-data__input:focus-within {
	border: solid rgb(0, 95, 229) 3px;  /* フォーカス時の枠線の色 */
	outline: none;  /* デフォルトのアウトラインを非表示にする */
}

.add-data__input--maxwidth {
  width: calc(100% - 3.3em);
}

.add-data__input-img {
  object-fit: cover;
  width: 100%;
  height: 101px;
  position: relative;
  z-index: -2;
}

.add-data__img-edit-button {
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: white;
  bottom: 0;
  z-index: -1;
  font-size: 0.9em;
  color: rgb(0, 95, 229);;
}

.add-data__description-item {
  resize: vertical;
}

.add-data__border {
  background-color: rgba(0, 0, 0, 0.05);
  height: 8px;
  border-radius: 5px;
}

.wrapper-contents--flex {
  display: flex;
  align-items: center;
}






/* デフォルトのスタイルをリセット */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0.5em;
  font-size: 16px;
  cursor: pointer;
}

/* セレクトボックスのコンテナをスタイル */
.select-box {
  position: relative;
  width: 200px;
  border: 2px solid rgb(0, 95, 229); /* 枠線のスタイル */
  border-radius: 5px;
  overflow: hidden;
  margin-left: 10px;
}

/* 矢印アイコンのスタイル */
.select-box::after {
  content: '\203A'; /* 右向きの不等号のUnicode文字 */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(90deg); /* 不等号を右に90度回転 */
  pointer-events: none;
}

/* オプションのスタイル */
.select-box select option {
  padding: 0.5em;
  background-color: #fff;
}

/* ホバーエフェクト */
.select-box select:hover,
.select-box select:focus {
  background-color: #f0f0f0;
}



