.product-list__information-bar {
  display: flex;
}

.product-list__information-box {
  display: flex;
}

.product-list__search {
  border: none;
}

.product-list__register-button {
  margin-right: 0;
  background-color: rgb(0, 106, 255);
  color: #ffffff;
  font-weight: bold;
}

.product-list__register-button:hover {
  background-color: rgb(70, 147, 255);
  cursor:pointer;
}

/* テーブル全体のスタイリング */
table {
  width: 100%; /* テーブルを幅いっぱいにする */
  border-collapse: collapse; /* セルの間の隙間をなくす */
  border: none;
  margin-top: 20px; /* 上に少し余白を追加 */
}

/* ヘッダーのスタイリング */
table th {
  color: #333; /* ヘッダーの文字色 */
  padding: 10px; /* パディングを追加 */
  text-align: left; /* テキストを左揃え */
  border-bottom: 3px solid #ddd; /* ヘッダーの下にボーダー */
  border-right: none;
  border-left: none;
  border-top: none;
}

/* テーブルのボディ（データ行）のスタイリング */
table td {
  padding: 10px; /* パディングを追加 */
  border-bottom: 1px solid #ddd; /* ボーダー */
  border-right: none;
  border-left: none;
  border-top: none;
}

/* 行のホバー効果 */
table tr:hover {
  background-color: rgba(173, 216, 230, 0.3); /* ホバー時に薄く青色に変わる */
  cursor: pointer; 
}