.product-list__information-bar {
  display: flex;
}

.product-list__information-box {
  display: flex;
}

.information-box__search {
  width: calc(100% - (2em + 40px));
  padding: 1em 2em 1em 40px;
  border-radius: 5px;
  border: solid rgb(0, 95, 229) 2px;
  font-size: 1rem;
  background: url('../image/search_icon.svg') no-repeat;
  background-size: 25px 25px; /* 画像のサイズを調整 */
  background-position: 10px center; /* 画像の位置を調整 */

}

/* プレースホルダーのスタイルを設定 */
.information-box__search::placeholder {
  color: #aaa; /* プレースホルダーの文字色を設定 */
}

.information-box__search:focus {
  outline: none;
  border: solid rgb(0, 95, 229) 3px;
}

.product-list__search {
  border: none;
}

.information-box__wrapper-search {
  width: fit-content;
  padding: 0em;
}

.product-list__register-button {
  margin-right: 0;
  background-color: rgb(0, 106, 255);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.product-list__register-button:hover {
  background-color: rgb(70, 147, 255);
  cursor:pointer;
}

/* テーブル全体のスタイリング */
table {
  width: 100%; /* テーブルを幅いっぱいにする */
  border-collapse: collapse; /* セルの間の隙間をなくす */
  border: none;
  margin-top: 20px; /* 上に少し余白を追加 */
}

/* ヘッダーのスタイリング */
table th {
  color: #333; /* ヘッダーの文字色 */
  padding: 10px; /* パディングを追加 */
  text-align: left; /* テキストを左揃え */
  border-bottom: 3px solid #ddd; /* ヘッダーの下にボーダー */
  border-right: none;
  border-left: none;
  border-top: none;
}

/* テーブルのボディ（データ行）のスタイリング */
table td {
  padding: 10px; /* パディングを追加 */
  border-bottom: 1px solid #ddd; /* ボーダー */
  border-right: none;
  border-left: none;
  border-top: none;
}

/* 行のホバー効果 */
table tr:hover {
  background-color: rgba(173, 216, 230, 0.3); /* ホバー時に薄く青色に変わる */
  cursor: pointer; 
}

table .product-table__th:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: default;
}

.productList__table--th-image {
  width: 40px;
}
/* 
.productList__table--wapper-image {
} */

.productList__table--image {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  object-fit: cover;
}

.hide {
  display: none;
}

.table-items__wrapper{
  position: relative;
}

.table-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(214, 214, 214, 0.8);
  background-image: url(../image/loading-gif.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 50px;
}